<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title> {{ page.genero }} {{ page.nome }} - {{ page.especialidade }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  
<link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="jsmod/vendor/jquery-1.10.1.min.js"><\/script>')</script>
  <script src="jsmod/vendor/jquery.hashchange.min.js"></script>
  <script src="jsmod/vendor/jquery.easytabs.min.js"></script>

  <script src="jsmod/main.js"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
      <![endif]-->
	  
	  <!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700|Muli' rel='stylesheet' type='text/css'>
	  
	  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87719895-1', 'auto');
  ga('send', 'pageview');

</script>
	  
</head>
  <body class="bg-fixed bg-1">

   <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <header id="header">
            <div id="logo">
                <h2>
                    {{ page.genero }} {{ page.nome }}
                </h2>
                <h4>
                    {{ page.especialidade }}
                </h4>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-sobre">
                  <a href="#sobre"><i class="fa fa-user-md"></i><span> Médico</span></a>
                </li>
                <li class='tab'>
                  <a href="#especializacoes"><i class="fa fa-graduation-cap"></i><span> Especializações</span></a>
                </li>
                <li class='tab'>
                  <a href="#vinculos"><i class="fa fa-university"></i><span> Vínculos</span></a>
                </li>
                <li class='tab'>
                  <a href="#atendimento"><i class="fa fa-phone-square"></i><span> Atendimento</span></a>
                </li>
            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->
                <div id="sobre">
                    <section class="clearfix">
                        <div class="g2">

                            <div class="info">
                                <h2>
                                    {{ page.genero }} {{ page.nome }}
                                </h2>
                                <h4>
                                    {{ page.especialidade }}
                                </h4>
                                <p>
                                    {{ page.descricao }}
				</p>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="main-links sidebar">
                                <ul>
                                    <li>
                                        <a href="#especializacoes">Minhas Especializações</a>
                                    </li>
                                    <li>
                                        <a href="#vinculos">Vínculos</a>
                                    </li>
                                    <li>
                                        <a href="#atendimento">Meus Locais de Atendimento</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="break"></div>
                       <!-- <div class="atendimento-info">
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="fa fa-envelope"></i>
                              <div class="item-data">
                                <h3><a href="mailto:rodrigo@medico.com">rodrigo@medico.com</a></h3>
                                <p>Endereço de E-mail</p>
                              </div>
                            </div>
                          </div>
                          
                        </div> -->
                    </section><!-- content -->
                </div>
              <!-- End About Tab Data -->
              <!-- Resume Tab Data -->
                <div id="especializacoes">
                    <section class="clearfix">
                        <div class="g2">
                            <h3>
                                Cursos e Especializações
                            </h3>
				
				{% for formacao in page.formacao %}
				<ul class="no-list work">
                                <li>
                                    <h5>
                                        {{ page.formacao.titulo }}
                                    </h5><span class="label label-info">{{ page.formacao.ano }}</span>
                                    <p>
                                        {{ page.formacao.inst }}
                                    </p>
                                </li>
				{% endfor %}
				
				
                           
                            
                        </div>
                        
                    </section>
                </div>
              <!-- End Resume Tab Data -->
              <!-- Portfolio Tab Data -->
                <div id="vinculos">
                    <section class="clearfix">
                        <div class="g2">
                            <h3>
                                Vínculos
                            </h3>
                            <ul class="no-list work">
				<li>
                                    <span class="label label-info">{{ page.vinculo1ano }}</span>
                                    <p>
                                        {{ page.vinculo1cargo }} - {{ page.vinculo1inst }}
                                    </p>
                                </li>
				    <li>
                                    <span class="label label-info">{{ page.vinculo2ano }}</span>
                                    <p>
                                        {{ page.vinculo2cargo }} - {{ page.vinculo2inst }}
                                    </p>
                                </li>
				    <li>
                                    <span class="label label-info">{{ page.vinculo3ano }}</span>
                                    <p>
                                        {{ page.vinculo3cargo }} - {{ page.vinculo3inst }}
                                    </p>
                                </li>
				    <li>
                                    <span class="label label-info">{{ page.vinculo4ano }}</span>
                                    <p>
                                        {{ page.vinculo4cargo }} - {{ page.vinculo4inst }}
                                    </p>
                                </li>
                                
                            </ul>
                         

                        </div>
                        
                    </section>
                </div>
              <!-- End Portfolio Data -->
              <!-- Contact Tab Data -->
                <div id="atendimento">
                    <section class="clearfix">
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="fa fa-{{ page.atendimento1tipo }}"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>{{ page.atendimento1nome }}</h4>
							  <p>Endereço</p>
                              <p>{{ page.atendimento1end }}</p>
							  <p>Telefone</p>
                              <p>{{ page.atendimento1tel }}</p>
							  
                            </div>
                         </div>
                       </div>
			    <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="fa fa-{{ page.atendimento2tipo }}"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>{{ page.atendimento2nome }}</h4>
							  <p>Endereço</p>
                              <p>{{ page.atendimento2end }}</p>
							  <p>Telefone</p>
                              <p>{{ page.atendimento2tel }}</p>
							  
                            </div>
                         </div>
                       </div>
			    <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="fa fa-{{ page.atendimento3tipo }}"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>{{ page.atendimento3nome }}</h4>
							  <p>Endereço</p>
                              <p>{{ page.atendimento3end }}</p>
							  <p>Telefone</p>
                              <p>{{ page.atendimento3tel }}</p>
							  
                            </div>
                         </div>
                       </div>
			    <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="fa fa-{{ page.atendimento4tipo }}"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>{{ page.atendimento4nome }}</h4>
							  <p>Endereço</p>
                              <p>{{ page.atendimento4end }}</p>
							  <p>Telefone</p>
                              <p>{{ page.atendimento4tel }}</p>
							  
                            </div>
                         </div>
                       </div>
                       
                       <div class="break"></div>
                       
                    </section>
                </div>
              <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->

    </div><!-- #main -->
</div><!-- #main-container -->



</body>
</html>
